<div class="container">
  <div class="col-5">
    <h1>Tạo sản phẩm mới</h1>
    <form [formGroup]="productForm" (ngSubmit)="submit()">
      <table>

        <td><input type="hidden" formControlName="id"></td>

        <tr>
          <td>Name</td>
          <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
          <td>Price</td>
          <td><input type="number" formControlName="price"></td>
        </tr>
        <tr>
          <td>description</td>
          <td><input type="text" formControlName="description"></td>
        </tr>

        <tr>
          <td>Category</td>
          <td>
            <select formControlName="category">
              <option [value]="" disabled>Chosse category</option>
              <option *ngFor="let c of categorys" [value]="c.id">{{c.nameCategory}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button>Add</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
