<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <a href="/shopping-cart">
        Shopping Cart
    </a>
</h2>
<table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>price</td>
        <td>img</td>
        <td>detail</td>
        <td>add cart</td>
    </tr>
    <tr th:each="p: ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td><img th:src="${p.img}" style="height: 200px; width: 300px"></td>
        <td th:text="${p.detail}"></td>
        <td><a th:href="@{/add/{id}(id=${p.getId()}, action='shop')}">cart</a></td>
    </tr>

</table>
</body>
</html>