.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    margin: 0;
}


@media screen and (max-width: 600px) {
    .col-xs-1 {
        width: 8.33%
    }

    .col-xs-2 {
        width: 16.66%
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.3%
    }

    .col-xs-5 {
        width: 41.66%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.33%
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;

    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }
}

/*tạo phần đầu của fb*/
.header {
    display: flex;
    height: 50px;
    background: whitesmoke;
    position: fixed;

}

.logo-fb img {
    margin-left: 10px;
    height: 40px;
    border-radius: 60px;
    margin-top: 5px;
    float: left;
    display: inline-block;
}

.tim-kiem {
    width: 30px;
    float: left;
    display: inline-block;
    background-color: powderblue;
    margin-top: 15px;
    border-radius: 30px;
    margin-left: 1px;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


.trang-chu {
    float: left;
    display: inline-block;
    font-size: 30px;

}

.addfriend {
    float: left;
    display: inline-block;
    font-size: 30px;
}

.video {
    float: left;
    display: inline-block;
    font-size: 30px;
}

.shop {

    float: left;
    display: inline-block;
    font-size: 30px;
}

.table {
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
    margin-top: 15px;

}


.setting {
    display: inline-block;
    float: left;
    padding-left: 50px;
    font-size: 30px;
    border-radius: 20px;

}

.thong-bao {
    float: left;
    display: inline-block;
    padding-left: 20px;
    font-size: 30px;
    border-radius: 20px;
}

.choose {
    display: inline-block;
    float: left;
    font-size: 30px;
    padding-left: 50px;
    border-radius: 20px;
}


.left {
    background-color: #e3e3ae;
    height: 1000px;
    float: left;
}

.left img {
    margin-top: 30%;
    width: 20%;
    display: inline-block;
    border-radius: 80px;

}

.left p {
    display: inline-block;
    position: sticky;
    text-align: center;
}













.center {
    background-color: #e3bfbf;
    height: 1000px;
    float: left;

}

.right {
    background-color: #a19292;
    height: 1000px;
    float: left;

}













