.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    margin: 0;
}


@media screen and (max-width: 600px) {
    .col-xs-1 {
        width: 8.33%
    }

    .col-xs-2 {
        width: 16.66%
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.3%
    }

    .col-xs-5 {
        width: 41.66%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-7 {
        width: 58.33%
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;

    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }
}

body {
    height: 1000000px;
}

/*tạo phần đầu của fb*/
.header {
    display: flex;
    height: 50px;
    background: lightskyblue;
    position: fixed;

}

.logo-fb img {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    border-radius: 50px;
    float: left;
    display: inline-block;
}

.tim-kiem {
    width: 15px;
    float: left;
    display: inline-block;
    background-color: powderblue;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 0px;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}


.trang-chu img {
    width: 40px;

    margin-left: 100px;
    border-color: black;
}


.video img {
    width: 40px;
}

.market img {
    width: 40px;

}

.group img {
    width: 40px;

}


.menu2 {
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}

.thong-bao img {
    width: 40px;
    margin-left: 40px;
}

.luachon img {
    width: 40px;
    margin-left: 60px;
}

.mess img {
    width: 40px;

    margin-left: 85px;

}

.setting img {
    width: 40px;

    margin-left: 100px;
    border-radius: 50px;
}

/*phần thân bên phải fb*/

.left {
    background-color: #cbafaf;
    height: 100000px;
    float: left;
    text-align: center;
    margin-top: 50px;
}


.left img {
    margin-top: 20px;
    width: 20%;
    display: inline-block;
    border-radius: 20px;
    float: left;
    margin-left: 20px;

}

.left p {
    display: inline-block;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}

.banbe {
    width: 40px;

}
.watch p {
    margin-right: 50px;
}

/*phần giữa của fb*/
.center {
    background-color: lightblue;
    height: 100000px;
    float: left;
    margin-top: 50px;
}

.menu-anh {
    margin-left: 40px;
}

.anh img {
    left: 50px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    display: inline-block;
    border-radius: 50px;
}

.trang-thai img {
    margin-left: 40px;
    width: 40px;
    border-radius: 100px;
    display: inline-block;
}

.trang-thai input {
    display: inline-block;
    text-align: center;
    border-radius: 300px;
    width: 500px;
    height: 20px;
}

.col-9 {
    margin-top: 20px;
    margin-left: 80px;
    background-color: whitesmoke;
}

.bai-dang img {
    margin-left: 80px;
    width: 70%;

}

.avtar img {
    margin-left: 40px;
    width: 40px;
    border-radius: 100px;
    display: inline-block;
}
.avtar p {
    display: inline-block;
}


.bai-dang2 iframe {
    margin-left: 20px;
}
.avtar2 img {
    margin-left: 40px;
    width: 40px;
    border-radius: 100px;
    display: inline-block;
}
.avtar2 p {
    display: inline-block;
}

/*phần thân bên phải fb*/
.right {
    background-color: whitesmoke;
    height: 100000px;
    float: left;
    margin-top: 50px;
}
.quang-cao {
    margin-left: 10px;
    width: 200px;
}
hr {
    margin-left: 30px;
    width: 250px;
}
.messenger{
    margin-left: 10px;
}

.nguoi-lien-he p{
    float: left;
    margin-top: 10px;
}

.icon-search {
    float: left;
    margin-left: 80px;

    width: 30px;
}
.icon-cham {
    float: left;
    margin-left: 5px;
    width: 30px;
}


.messenger1 {
    margin-top: 40px;
    margin-left: 0;
}
.ng1 img{
    width: 50px;
    border-radius: 50px;

}
.ng1 p {
    float: left;
}

/*.ng2 img{*/
/*    width: 50px;*/
/*    border-radius: 50px;*/
/*    float: left;*/
/*}*/

/*.ng2p {*/
/*    float: left;*/
/*}*/

/*.ng3 img{*/
/*     width: 50px;*/
/*     border-radius: 50px;*/
/*     float: left;*/
/* }*/
/*.ng3 p {*/
/*    float: left;*/
/*}*/






