<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 zingnew">
        <a href="https://zingnews.vn/">
          <img src="https://static-znews.zingcdn.me/images/logo-zing-home.svg" style="width: 94px;"
               alt="logo Zing News">
          <a href="//static-znews.zingcdn.me/releases/web/docs/#/changelog" target="_bank" class="z-version-info">
          </a>
        </a>
        <p>
          Tạp chí điện tử Tri thức trực tuyến
        </p>
        <p>
          Cơ quan chủ quản: Hội Xuất bản Việt Nam
        </p>
        <p>
          Giấy phép báo chí: số 75/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 26/02/2020
        </p>
        <p>
          Phó tổng biên tập phụ trách: Lâm Quang Hiếu
          © Toàn bộ bản quyền thuộc Tri thức trực tuyến
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Address</h5>

        <p class="  d-flex justify-content-start">
          Tòa soạn: Tầng 7, D29 Phạm Văn Bạch, Quận Cầu Giấy, Hà Nội
          Hotline: 0931.222.666 - Email: toasoan@zing.vn
          Liên hệ | Tuyển dụng | Quảng cáo
        </p>
      </div>

    </div>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
