
<div class="bodyy-form">
  <div class="container container-form">
    <div style="margin-top: 35%"><h2><a [routerLink]="['/customer']" style="color: cornflowerblue">Back Home</a></h2></div>
    <form id="contact" action="@{/facility/save}"  method="post">
      <h2>Edit Customer</h2>
      <fieldset>
        <input placeholder="id" type="hidden" value="1" tabindex="0">
      </fieldset>

      <fieldset>
        <label>Name</label>
        <input class="form-control" placeholder="name" type="text" value="Ly"
               tabindex="1">
      </fieldset>

      <fieldset>
        <label>Birthday</label>
        <input class="form-control" placeholder="Birthday" type="text" value="2002-03-25"
               tabindex="2">
      </fieldset>

      <fieldset>
        <label>Gender</label>
        <input class="form-control" placeholder="Gender" type="text" value="nữ"
               tabindex="3">
      </fieldset>

      <fieldset>
        <label>Id card</label>
        <input class="form-control" placeholder="Id card" type="text" value="1111111"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Phone</label>
        <input class="form-control" placeholder="Phone" type="text" value="0111111111"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Email</label>
        <input class="form-control" placeholder="Email" type="text" value="ly25@gmail.com"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Address</label>
        <input class="form-control" placeholder="Address" type="text" value="qtri"
               tabindex="5">
      </fieldset>


      <fieldset>
        <label>Customer type</label>
        <input class="form-control" placeholder="Customer type" type="text" value="gold"
               tabindex="9">
      </fieldset>

      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>

  </div>
</div>
