<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: bootstraps}"></th:block>
</head>
<body>

<div class="container">
    <div>
        <a th:href="@{/blog/create}">
            Create Blog
        </a>
    </div>
    <div th:if="${message}">
       <p th:text="${message}"></p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">type blog</th>
            <th scope="col">content blog</th>
            <th scope="col">day publication</th>
            <th scope="col">View blog</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b: ${blog}">

            <td th:text="${b.getId()}"></td>
            <td th:text="${b.getTypeBlog()}"></td>
            <td th:text="${b.getContentBlog()}"></td>
            <td th:text="${b.getPublicDay()}"></td>
            <td><a th:href="@{/blog/edit/{id}(id=${b.getId()})}">view blog</a></td>
            <td><a th:href="@{/blog/edit/{id}(id=${b.getId()})}">Edit</a></td>
            <td><a th:href="@{/blog/delete/{id}(id=${b.getId()})}">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:replace="~{layout :: bootstrapsScript}"></th:block>
</html>