<!--bài tập bài 6 angular form-->
<!--<app-todo></app-todo>-->
<!--<app-register-form></app-register-form>-->
<!--<app-login-form></app-login-form>-->

<!--bai ss7 router & service-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->

<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->

<!--<a routerLink="/product/list">Danh sách sản phẩm</a>-->
<!--<router-outlet></router-outlet>-->

<!--Demo webservice-->
<!--<app-customer-list-webservice></app-customer-list-webservice>-->

<!--bài tâp Ứng dụng tra cứu từ điển ss7-->
<!--<a routerLink= "/list">Dictionary</a>-->
<!--<router-outlet></router-outlet>-->


<!--bai thuc hanh bai 9-->
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
