<!--<header class="head ">-->
<!--  <img style="height: 300px; width: 100%" src="/assets/img/head.png" height="580" width="1888"/>-->
<!--</header>-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/index.html"><p>FURAMA</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="list-service.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="list-customer.html">Customer</a></li>
        <li class="nav-item"><a class="nav-link" href="list-contract.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

