<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <a th:href="@{/home}">
        Home
    </a>
</h2>
<table border="1">
    <tr>
        <td>id</td>
        <td>name book</td>
        <td>price</td>
        <td>status</td>
        <td>id book</td>
        <td>Borrow</td>
        <td>Return Book</td>
    </tr>
    <tr th:each="b : ${borrow}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.price}"></td>
        <td th:text="${b.status}"></td>
        <td th:text="${b.libaryBook.id}"></td>
        <td><a th:href="@{/home/borrow/{id}(id=${b.getId()})}">Borrow</a></td>
        <td><a th:href="@{/home/return/{id}(id=${b.getId()})}">Return Book</a></td>
    </tr>
</table>
</body>
</html>