<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a style="color: red" th:text="${mess}"></a>
</p>
<table border="1">
    <tr>
        <td>id</td>
        <td>name book</td>
        <td>amount</td>
        <td>Detail</td>
    </tr>
    <tr th:each="b : ${book}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.nameBook}"></td>
        <td th:text="${b.amount}"></td>
        <td><a th:href="@{/home/detail/{id}(id=${b.getId()})}">Detail</a></td>
    </tr>


</table>
</body>
</html>