<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: style }"></th:block>
    <style>
        .body {
            height: 900px;
        }

        .divBig {
            padding-right: 0;
            padding-left: 0;
        }

        .mid {
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;
            height: 750px;
            border-style: solid;

        }

        article {
            height: 100%;
            float: left;
            width: 750px;
            border-style: solid;

        }

        aside {
            height: 100%;
            float: left;
            width: 750px;
            border-style: solid;

        }

        #dtBasicExample {
            margin-top: 16px;
            width: 90%;
        }
    </style>
</head>
<body class="body">
<div class="container-fluid divBig">
    <header th:replace="~{layout :: head}"></header>
    <nav th:replace="~{layout :: nav}"></nav>

    <div class="row mid">
        <article class="col-xl-3 col-lg-3 col-md-3 col-sm-3 midLeft">

        </article>
        <aside class="col-xl-9 col-lg-9 col-md-9 col-sm-9 midRight">
            <div class="wrapper-editor">
                <h2>Service</h2>
                <h3><a th:href="@{/facility/create}">create</a></h3>
                <div th:if="${msg}">
                    <p th:text="${msg}"></p>
                </div>
                <table id="dtBasicExample" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <td>id</td>
                        <td>tên dịch vụ</td>
                        <td>diện tích sử dụng</td>
                        <td>Chi phí thuê</td>
                        <td>Số lượng người tối đa</td>
                        <td>Tiêu chuẩn phòng</td>
                        <td>Mô tả</td>
                        <td>Diện tích hồ bơi</td>
                        <td>Số tầng</td>
                        <td>facility free</td>
                        <td>id rent type</td>
                        <td>id facility</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f: ${facility}">
                        <td th:text="${f.getId()}"></td>
                        <td th:text="${f.getName()}"></td>
                        <td th:text="${f.getArea()}"></td>
                        <td th:text="${f.getCost()}"></td>
                        <td th:text="${f.getMaxPeople()}"></td>
                        <td th:text="${f.getStandardRoom()}"></td>
                        <td th:text="${f.getDescriptionOtherConvenience()}"></td>
                        <td th:text="${f.getPoolArea()}"></td>
                        <td th:text="${f.getNumberOfFloars()}"></td>
                        <td th:text="${f.getFacilityFree()}"></td>
                        <td th:text="${f.getRentType().name}"></td>
                        <td th:text="${f.getFacilityType().name}"></td>
                        <td><a th:href="@{/facility/edit/{id}(id=${f.getId()})}">Edit</a></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    th:data-bs-target="'#exampleModal'+${f.getId}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'exampleModal'+${f.getId}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">X
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p> Do you want delete employee have id is
                                            <p class="text-danger" th:text="${f.getId}"></p> and name is <p
                                                class="text-danger" th:text="${f.getName()}"></p></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                <a th:href="@{/facility/delete/{id}(id=${f.getId()})}">Delete</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>


            </div>
            <a th:if="${facility.hasPrevious()}"
               th:href="@{/facility(page=${facility.number - 1})}">
                Previous
            </a>
            <span th:text="${facility.number + 1}"></span>
            /
            <span th:text="${facility.totalPages}"></span>

            <a th:if="${facility.hasNext()}"
               th:href="@{/facility(page=${facility.number + 1})}">
                Next
            </a>

        </aside>
    </div>
    <footer th:replace="~{layout ::footer}"></footer>
</div>
</body>
<th:block th:replace="~{layout :: cdn}"></th:block>
</html>