<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: style }"></th:block>
    <style>
        .body {
            height: 900px;
        }

        .divBig {
            padding-right: 0;
            padding-left: 0;
        }

        .mid {
            margin-top: 0;
            height: 750px;

        }

        article {
            height: 100%;
            float: left;
            width: 750px;
            border-style: solid;

        }

        aside {
            height: 100%;
            float: left;
            width: 750px;
            border-style: solid;

        }

        #dtBasicExample {
            margin-top: 16px;
            width: 90%;
        }

    </style>
</head>
<body class="body">
<div class="container-fluid divBig">
    <header th:replace="~{layout :: head}"></header>
    <nav th:replace="~{layout :: nav}"></nav>

    <div class="row mid" style="margin-right: 0;margin-left: 0">

        <aside class="col-xl-12 col-lg-12 col-md-12 col-sm-12 midRight ">
            <div class="container">
                <div >
                    <h2>Service <b>Details</b></h2>
                    <div style="color: red" th:if="${msg}">
                        <p th:text="${msg}"></p>
                    </div>

                        <a th:href="@{/facility/create}">
                            <button type="submit" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New
                            </button>
                        </a>

                </div>
                <table id="dtBasicExample" class="table table-striped table-hover table-bordered table-responsive">
                    <thead>
                    <tr>
                        <td>id</td>
                        <td>tên dịch vụ</td>
                        <td>diện tích sử dụng</td>
                        <td>Chi phí thuê</td>
                        <td>Số lượng người tối đa</td>
                        <td>Tiêu chuẩn phòng</td>
                        <td>Mô tả</td>
                        <td>Diện tích hồ bơi</td>
                        <td>Số tầng</td>
                        <td>dicjh vụ miễn phí</td>
                        <td>kiểu thuê</td>
                        <td>loại dịch vụ</td>
                        <td colspan="2">Action</td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="f: ${facility}">
                        <td th:text="${f.getId()}"></td>
                        <td th:text="${f.getName()}"></td>
                        <td th:text="${f.getArea()}"></td>
                        <td th:text="${f.getCost()}"></td>
                        <td th:text="${f.getMaxPeople()}"></td>
                        <td th:text="${f.getStandardRoom()}"></td>
                        <td th:text="${f.getDescriptionOtherConvenience()}"></td>
                        <td th:text="${f.getPoolArea()}"></td>
                        <td th:text="${f.getNumberOfFloars()}"></td>
                        <td th:text="${f.getFacilityFree()}"></td>
                        <td th:text="${f.getRentType().name}"></td>
                        <td th:text="${f.getFacilityType().name}"></td>
                        <td><a th:href="@{/facility/edit/{id}(id=${f.getId()})}">Edit</a></td>
                        <td>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    th:data-target="'#exampleModal'+${f.id}">
                                Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'exampleModal'+${f.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p> Do you want delete service have id is
                                            <p class="text-danger" th:text="${f.getId}"></p> have name service is <p
                                                class="text-danger" th:text="${f.getName()}"></p></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No
                                            </button>
                                            <form th:action="@{/facility/delete/{id}(id=${f.getId()})}">
                                                <button type="submit" class="btn btn-primary">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            <div class="col-2 ">
                <ul class="pagination" th:if="${facility.totalPages > 0}">
                    <li class="page-item">
                        <a class="page-link" th:if="${facility.hasPrevious()}"
                           th:href="@{'/facility/home'(page=${facility.number - 1})}">
                            <<
                        </a>
                    </li>
                    <div th:each="item1, loop : ${#numbers.sequence(1, facility.totalPages )}">
                        <div th:if="${(facility.number + 1) == item1}">
                            <li class="page-item active">
                                <a class="page-link" href="#" th:text="${item1}"
                                   th:href="@{/facility/home(page=(${item1}-1))}"></a>
                            </li>
                        </div>
                        <div th:unless="${((facility.number + 1) == item1)}">
                            <li class="page-item">
                                <a class="page-link" href="#" th:text="${item1}"
                                   th:href="@{/facility/home(page=(${item1}-1))}"></a>
                            </li>
                        </div>
                    </div>
                    <li class="page-item">
                        <a class="page-link" th:if="${facility.hasNext()}"
                           th:href="@{'/facility/home'(page=${facility.number + 1})}">
                            >>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </aside>

    </div>
    <footer th:replace="~{layout ::footer}"></footer>
</div>
</body>
<th:block th:replace="~{layout :: cdn}"></th:block>
</html>