<div class="container" style="margin-top: 50px">
  <div class="col-12">
    <div><h2>Consignment List</h2></div>
        <form [formGroup]="formSearch" (ngSubmit)="search()">
    <div class="d-flex flex-nowrap">
      <div class="p-1">
        <input class="form-control" formControlName="nameSearch" type="text" placeholder="Search Name"
               aria-label="Search">
      </div>
      <div class="p-1">
        <button class="btn btn-outline-dark">Search</button>
      </div>
    </div>
        </form>
    <div><a class="btn btn-outline-dark mb-3" [routerLink]="['/consignment-add']">Add</a></div>
    <table class="table table-bordered table-hover border-info">
      <thead>
      <tr class="table-primary">
        <td>#</td>
        <td>Consignment code</td>
        <td>Name product</td>
        <td>Price</td>
        <td>Unit</td>
        <td>Amount</td>
        <td>Date Add</td>
        <td>Date of manufacture</td>
        <td>Date end</td>
        <td colspan="2">Action</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of consignmentList ; index as i">
        <td>{{i + 1}}</td>
        <td>{{c.codeConsignment}}</td>
        <td>{{c.product.name}}</td>
        <td>{{c.product.price | currency : 'VND'}}</td>
        <td>{{c.product.unit}}</td>
        <td style="text-align: center">{{c.amount}}</td>
        <td style="text-align: center">{{c.dateAdd | date : 'dd-MM-yyyy'}}</td>
        <td style="text-align: center">{{c.dateOfManuFacture | date : 'dd-MM-yyyy'}}</td>
        <td style="text-align: center">{{c.dateEnd | date : 'dd-MM-yyyy'}}</td>
        <td>
          <div>
            <a class="btn btn-outline-primary" style="margin-right: 0.5rem" [routerLink]="['/consignment-edit', c.id]">Edit</a>
            <!--       Button trigger modal -->
            <button type="button" (click)="showDelete(c)" class="btn btn-outline-primary " data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
              Delete
            </button>
          </div>
      </tr>
      </tbody>
    </table>
    <!--    <ng-template #tableEmpty>-->
    <!--      <td>No have Data</td>-->
    <!--    </ng-template>-->

    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <div *ngIf="numberPage == 0 ">
            <li class="page-item">
              <a class="page-link" (click)="previousPage()" hidden>Previous</a>
            </li>
          </div>
          <div *ngIf="numberPage != 0 ">
            <li class="page-item">
              <a class="page-link" (click)="previousPage()">Previous</a>
            </li>
          </div>
          <div *ngFor="let count of countTotalPage, index as i">
            <div *ngIf="i == numberPage">
              <li class="page-item">
                <a class="page-link" (click)="item(i)">{{i + 1 }}</a>
              </li>
            </div>
            <div *ngIf="i != numberPage">
              <li class="page-item">
                <a class="page-link" (click)="item(i)">{{i + 1 }}</a>
              </li>
            </div>
          </div>

          <div *ngIf="numberPage == totalPage -1">
            <li class="page-item">
              <button class="page-link" (click)="nextPage()" hidden>Next</button>
            </li>
          </div>

          <div *ngIf="numberPage != totalPage -1">
            <li class="page-item ">
              <button class="page-link" (click)="nextPage()">Next</button>
            </li>
          </div>
        </ul>
      </nav>
    </div>

  </div>
</div>
<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You want delete info consignment have name is: <span style="color: red">{{nameDelete}}</span>
        <br> and date add is: <span style="color: red">{{dateDelete}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete()">Yes</button>
      </div>
    </div>
  </div>
</div>
