<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: style }"></th:block>
    <style>
        .body {
            height: 900px;
        }

        .divBig {
            padding-right: 0;
            padding-left: 0;
        }

        .mid {
            margin-top: 0;
            height: 750px;

        }

        article {
            height: 100%;
            float: left;
            width: 750px;

        }

        aside {
            height: 100%;
            float: left;
            width: 750px;

        }

        #dtBasicExample {
            margin-top: 16px;
            width: 90%;
        }

    </style>
</head>
<body class="body">
<div class="container-fluid divBig">
    <header th:replace="~{layout :: head}"></header>
    <nav th:replace="~{layout :: nav}"></nav>

    <div class="row mid" style="margin-right: 0;margin-left: 0">
        <aside class="col-xl-12 col-lg-12 col-md-12 col-sm-12 midRight">
            <div class="container-fluid">
                <div>
                    <div><h2>Employee <b>Details</b></h2></div>
                    <div th:if="${msg}">
                        <p th:text="${msg}"></p>
                    </div>

                    <!--Modal add-->
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                            Add New
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel1"><h2>Create Employee Form</h2>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form id="contact" th:action="@{/employee/save}" th:object="${employee}"
                                                  method="post">
                                                <table>
                                                    <tr>
                                                        <td><input placeholder="id" type="hidden" tabindex="0"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>name</td>
                                                        <td><input placeholder="name" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>day of birth</td>
                                                        <td><input placeholder="day of birth" type="date" tabindex="1">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>id card</td>
                                                        <td><input placeholder="id card" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>salary</td>
                                                        <td><input placeholder="salary" type="text" tabindex="1"></td>
                                                    <tr>
                                                        <td>phone</td>
                                                        <td><input placeholder="phone" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>email</td>
                                                        <td><input placeholder="email" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>address</td>
                                                        <td><input placeholder="address" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>position</td>
                                                        <td><input placeholder="position" type="text" tabindex="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>education</td>
                                                        <td><input placeholder="education" type="text" tabindex="1">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>divition</td>
                                                        <td><input placeholder="divition" type="text" tabindex="1"></td>
                                                    </tr>
                                                </table>


                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">No
                                                    </button>
                                                    <form th:action="@{/employee/save/}">
                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <table id="dtBasicExample" class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr class="table-danger">
                            <td>#</td>
                            <td>name</td>
                            <td>day of birth</td>
                            <td>id card</td>
                            <td>salary</td>
                            <td>phone</td>
                            <td>email</td>
                            <td>address</td>
                            <td>position</td>
                            <td>education</td>
                            <td>divition</td>
                            <td colspan="2">action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="y, loop: ${employee}">
                            <td th:text="${loop.count}"></td>
                            <td th:text="${y.name}"></td>
                            <td th:text="${y.birdthday}"></td>
                            <td th:text="${y.idCard}"></td>
                            <td th:text="${y.salary}"></td>
                            <td th:text="${y.phone}"></td>
                            <td th:text="${y.email}"></td>
                            <td th:text="${y.address}"></td>
                            <td th:text="${y.divison.name}"></td>
                            <td th:text="${y.education.name}"></td>
                            <td th:text="${y.position.name}"></td>
                            <td>
                                <!--  Modal edit-->
                                <div>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal1">
                                        Edit
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal3" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">
                                                        <h2>Edit Employee Form</h2>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <form id="edit" th:action="@{/employee/edit}"
                                                              th:object="${employee}"
                                                              method="post">
                                                            <table>
                                                                <tr>
                                                                    <td><input placeholder="id" type="hidden"
                                                                               tabindex="0"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>name</td>
                                                                    <td><input placeholder="name" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>day of birth</td>
                                                                    <td><input placeholder="day of birth" type="date"
                                                                               tabindex="1">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>id card</td>
                                                                    <td><input placeholder="id card" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>salary</td>
                                                                    <td><input placeholder="salary" type="text"
                                                                               tabindex="1"></td>
                                                                <tr>
                                                                    <td>phone</td>
                                                                    <td><input placeholder="phone" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>email</td>
                                                                    <td><input placeholder="email" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>address</td>
                                                                    <td><input placeholder="address" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>position</td>
                                                                    <td><input placeholder="position" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>education</td>
                                                                    <td><input placeholder="education" type="text"
                                                                               tabindex="1">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>divition</td>
                                                                    <td><input placeholder="divition" type="text"
                                                                               tabindex="1"></td>
                                                                </tr>
                                                            </table>


                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">No
                                                                </button>
                                                                <form th:action="@{/employee/update/}">
                                                                    <button type="submit" class="btn btn-primary">Yes
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </td>


                            <td>
                                <!--   Modal delete-->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        th:data-target="'#exampleModal'+${y.getId()}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'exampleModal'+${y.getId()}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p> Do you want delete customers have stt is
                                                <p class="text-danger" th:text="${y.getId()}"></p> have name customers
                                                is <p
                                                    class="text-danger" th:text="${y.getName()}"></p></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No
                                                </button>
                                                <form th:action="@{/employee/delete(id=${y.getId()})}">
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="col-2 ">
                        <ul class="pagination" th:if="${employee.totalPages > 0}">
                            <li class="page-item">
                                <a class="page-link" th:if="${employee.hasPrevious()}"
                                   th:href="@{'/employee/home'(page=${employee.number - 1})}">
                                    <<
                                </a>
                            </li>
                            <div th:each="item1, loop : ${#numbers.sequence(1, employee.totalPages )}">
                                <div th:if="${(employee.number + 1) == item1}">
                                    <li class="page-item active">
                                        <a class="page-link" href="#" th:text="${item1}"
                                           th:href="@{/employee/home(page=(${item1}-1))}"></a>
                                    </li>
                                </div>
                                <div th:unless="${((employee.number + 1) == item1)}">
                                    <li class="page-item">
                                        <a class="page-link" href="#" th:text="${item1}"
                                           th:href="@{/employee/home(page=(${item1}-1))}"></a>
                                    </li>
                                </div>
                            </div>
                            <li class="page-item">
                                <a class="page-link" th:if="${employee.hasNext()}"
                                   th:href="@{'/employee/home'(page=${employee.number + 1})}">
                                    >>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <footer th:replace="~{layout ::footer}"></footer>
</div>
</body>
<th:block th:replace="~{layout :: cdn}"></th:block>


</html>