<!--thực hành bài 3 angular overview-->
<!--<app-font-size-editor></app-font-size-editor>-->
<!--<app-test></app-test>-->
<!--<app-angular-show-pet></app-angular-show-pet>-->
<!--<app-product></app-product>-->
<!--Bài tập bài 3 angular overview -->
<!--<app-calculator></app-calculator>-->
<!--<app-color></app-color>-->

<!--thực hành bài 4 angular component & template-->
<!--<app-article></app-article>-->

<!--Bài tập bài 4 angular component & template -->
<!--<app-article></app-article>-->

<!--Bài tập bài 5 Component interraction-->
<!--<app-name-card cardName="Professional Dev" email="nhuhoa2303@gmail.com" phone="077712345"></app-name-card>-->
<!--<app-progress-bar></app-progress-bar>-->

<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->

<!--demo form-->
<!--<app-demo-reactive-form></app-demo-reactive-form>-->
<!--<app-demo-template-drive-form></app-demo-template-drive-form>-->

<app-todo></app-todo>
