<!--<div class="container" style="margin-top: 50px">-->
<!--  <div class="col-12">-->
<!--    <div><h2>Order</h2></div>-->
<!--    <table class="table table-bordered table-hover border-danger">-->
<!--      <thead>-->
<!--      <tr class="table-primary">-->
<!--        <td>#</td>-->
<!--        <td>Code service</td>-->
<!--        <td>Name customer</td>-->
<!--        <td>Code product</td>-->
<!--        <td>Name product</td>-->
<!--        <td>Cost</td>-->
<!--        <td>Date order</td>-->
<!--        <td>Total</td>-->

<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody >-->
<!--      <tr>-->
<!--        <td>{{i + 1}}</td>-->
<!--        <td>{{p.codeProduct}}</td>-->
<!--        <td>{{p.productType.rentType.name}}</td>-->
<!--        <td>{{p.productType.price}}</td>-->
<!--        <td>{{p.statusProduct}}</td>-->
<!--        <td>{{p.creationDate | date : 'dd-MM-yyyy'}}</td>-->
<!--        <td>-->
<!--          <div>-->
<!--            &lt;!&ndash;       Button trigger modal &ndash;&gt;-->
<!--            <button type="button" (click)="show(p)" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                    data-bs-target="#exampleModal">-->
<!--              Delete-->
<!--            </button>-->
<!--          </div>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <ng-template #tableEmpty>-->
<!--      <td>No have Data</td>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<pagination-controls (pageChange)="p = $event"></pagination-controls>&ndash;&gt;-->


