
<div class="container">
  <div class="col-5">
    <h1>Danh sách sản phẩm</h1>
    <a class="btn btn-outline-danger" routerLink="/product/create">Create</a>
    <table class="table table-bordered table-hover">
      <tr>
        <td>STT</td>
        <td>Name</td>
        <td>Price</td>
        <td>Detail</td>
        <td>Action</td>
      </tr>
      <tr *ngFor="let product of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><a class="btn btn-outline-danger" [routerLink]="['/product/edit', product.id]">Edit</a></td>
        <td><a class="btn btn-outline-danger" [routerLink]="['/product/delete', product.id]">Delete</a></td>
      </tr>
    </table>
  </div>
</div>
