<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: bootstraps}"></th:block>
</head>
<body>
<h3>Edit blog</h3>
<div class="container">
    <form th:action="@{/category/update}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="formGroupExampleInput">name category</label>
            <input type="text" th:field="*{nameCategory}" th:value="${category.nameCategory}" class="form-control"
                   id="formGroupExampleInput">
        </div>

        <button type="submit">Update</button>
    </form>
</div>
</body>
<th:block th:replace="~{layout :: bootstrapsScript}"></th:block>
</html>