<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: bootstraps}"></th:block>
</head>
<body>

<div class="container">
    <div>
        <a th:href="@{/category/create}">
            Create Category
        </a>
    </div>
    <div th:if="${message}">
       <p th:text="${message}"></p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name category blog</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${category}">
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getNameCategoryBlog()}"></td>
            <td><a th:href="@{/category/edit/{id}(id=${c.getId()})}">Edit</a></td>
            <td><a th:href="@{/category/delete/{id}(id=${c.getId()})}">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:replace="~{layout :: bootstrapsScript}"></th:block>
</html>