<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Create product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>

<div id="form">
    <form th:action="@{/product/save}" th:object="${products}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameProduct}">
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}">
        </div>
        <div>
            <label>Made in</label>
            <input type="text" th:field="*{madeIn}">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>