<div class="container">
  <div class="col-6">
    <form [formGroup]="addForm" (ngSubmit)="submit()">

      <div class="mb-3">
        <div class="col-2" style="font-weight: bold; font-size: 17px">
          <label for="img" class="mr-3">Image<span style="color: red">*</span></label>
        </div>
        <div class="col-10">
          <input id="img" type="file" class="form-control-file" (change)="showPreview($event)">
        </div>
      </div>

      <div class="mb-3">
        <label for="codeConsignment" class="form-label">Code Consignment</label>
        <input type="text" formControlName="codeConsignment" class="form-control" id="codeConsignment"
               aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="addForm.controls.codeConsignment.hasError('required')&&addForm.controls.codeConsignment.touched">
          Mã lô hàng không được để trống.</p>
        <p style="color: red"
           *ngIf="addForm.controls.codeConsignment.hasError('pattern')&&addForm.controls.codeConsignment.touched">
          Mã lô hàng phải là LH-XXXX (X là số từ 0-9).</p>
      </div>
      <div class="mb-3">
        <label for="product" class="form-label">Product</label>
        <select formControlName="product" class="form-select" id="product" aria-describedby="emailHelp">
          <option value="" disabled>Chosse</option>
          <option *ngFor="let product of productList" [ngValue]="product">{{product.name}}</option>
        </select>
        <p style="color: red"
           *ngIf="addForm.controls.product.hasError('required')&&addForm.controls.product.touched">
          Sản phẩm không được để trống.</p>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="text" formControlName="amount" class="form-control" id="amount" aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="addForm.controls.amount.hasError('required')&&addForm.controls.amount.touched">
          Số lượng không được để trống.</p>
        <p style="color: red"
           *ngIf="addForm.controls.amount.hasError('min')&&addForm.controls.amount.touched">
          Số lượng phải là số dương.</p>
      </div>
      <div class="mb-3">
        <label for="dateAdd" class="form-label">Date add</label>
        <input type="date" formControlName="dateAdd" class="form-control" id="dateAdd"
               aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="addForm.controls.dateAdd.hasError('required')&&addForm.controls.dateAdd.touched">
          Ngày nhập hàng không được để trống.</p>
      </div>
      <div class="mb-3">
        <label for="dateOfManuFacture" class="form-label">Date of manufacture</label>
        <input type="date" formControlName="dateOfManuFacture" class="form-control" id="dateOfManuFacture"
               aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="addForm.controls.dateOfManuFacture.hasError('required')&&addForm.controls.dateOfManuFacture.touched">
          Ngày sản xuất không được để trống.</p>
      </div>
      <div class="mb-3">
        <label for="dateEnd" class="form-label">Date end</label>
        <input type="date" formControlName="dateEnd" class="form-control" id="dateEnd"
               aria-describedby="emailHelp">
        <p style="color: red"
           *ngIf="addForm.controls.dateEnd.hasError('required')&&addForm.controls.dateEnd.touched">
          Ngày hết hạn không được để trống.</p>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-outline-dark" style="margin-right: 1rem">Add</button>
        <button class="btn btn-outline-dark" [routerLink]="['/consignment-list']">Back</button>
      </div>
    </form>
  </div>
</div>
