<div class="bodyy-form">
  <div class="container container-form">
    <div style="margin-top: 35%"><h2><a [routerLink]="['/contract']" style="color: cornflowerblue">Back Home</a></h2></div>
    <form id="contact" action="@{/facility/save}"  method="post">
      <h2>Add Contract</h2>
      <fieldset>
        <input placeholder="id" type="hidden" value="1" tabindex="0">
      </fieldset>

      <fieldset>
        <label>Service</label>
        <input class="form-control" placeholder="Service" type="text"
               tabindex="1">
      </fieldset>

      <fieldset>
        <label>Customer</label>
        <input class="form-control" placeholder="Customer" type="text"
               tabindex="2">
      </fieldset>

      <fieldset>
        <label>Star day</label>
        <input class="form-control" placeholder="Star day" type="text"
               tabindex="3">
      </fieldset>

      <fieldset>
        <label>End day</label>
        <input class="form-control" placeholder="End day" type="text"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Deposit</label>
        <input class="form-control" placeholder="Deposit" type="text"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Mony total</label>
        <input class="form-control" placeholder="Mony total" type="text"
               tabindex="4">
      </fieldset>

      <fieldset>
        <label>Attach service</label>
        <input class="form-control" placeholder="Attach service" type="text"
               tabindex="5">
      </fieldset>


      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>

  </div>
</div>
