<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: bootstraps}"></th:block>
</head>
<body>
<h3>Create blog</h3>
<div class="container">
    <form th:action="@{/blog/save}" th:object="${blog}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label>Content Blog</label>
            <input type="text" th:field="*{contentBlog}" th:value="${blog.contentBlog}" class="form-control"
                   id="formGroupExampleInput1">
        </div>
        <div class="form-group">
            <label>Public Day</label>
            <input type="text" th:field="*{publicDay}" th:value="${blog.publicDay}" class="form-control"
                   id="formGroupExampleInput2">
        </div>
        <div class="form-group">
            <label>Categry Blog</label>
            <select th:field="*{categoryBlog}">
                <option th:each="c : ${category}"
                        th:text="${c.nameCategoryBlog}"
                        th:value="${c.id}">
                </option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
<th:block th:replace="~{layout :: bootstrapsScript}"></th:block>
</html>