
.list {
    display: inline-block;
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: grey;
    color: white;
    padding-left: 10px;
    font-size: 20px;

}


.list-right {
    text-align: center;
    float: right;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
}

li:hover {
    background-color: wheat;
}

#header {
    width: 100%;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
    position: fixed;
    top: 0;
    overflow: hidden;
}

body {
    margin: 0;
}

#table-center {
    height: 550px;
    width: 70%;
    background-color: white;
    float: left;
    top: 100px;
    position: relative;
}

#table-left {
    text-align: left;
    height: 550px;
    width: 15%;
    background-color: #dad5d5;
    float: left;
    top: 100px;
    position: relative;
}

#table-right {
    text-align: left;
    height: 550px;
    width: 15%;
    background-color: #dad5d5;
    float: left;
    top: 100px;
    position: relative;
}

#table-footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    clear: both;
    position: relative;
    margin-bottom: 0;
}

p {
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 60px;
}

.letter_center {
    line-height: 20px;
    font-size: 15px;
    color: black;
    left: 0;
}

.left_letter {
    line-height: 50px;
    font-size: 15px;
    color: blue;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    left: 100px;
}

.lettet_right {
    background-color: #CDCDCD;
    width: 50%;
    height: 80px;
    margin-left: 50px;

}